nz-header {
  background-color: purple;
}

nz-sider {
  height: 100vh;
  background-color: brown;
}

nz-content {
  margin: 24px;
  background-color: greenyellow;
}

nz-footer {
  background-color: blue;
  color: #fff;
}
