/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

nz-breadcrumb {
  align-self: center;
}

nz-sider {
  height: 100vh;
}

nz-content {
  margin: 24px;
  background-color: #fff;
}

.header-menu {
  line-height: 64px;
}

.logo {
  height: 32px;
  margin: 16px;
  text-align: center;

  i {
    font-size: 26px;
    vertical-align: text-top;
  }
}

.main {
  max-height: 75vh;
  overflow: auto;
}

.ant-layout-header {
  padding: 0 0px !important;
}

.right-layout {
  max-height: 100vh;
}
